---
layout: default
---
<!--
<section id="baseline" class="show-grid">
-->

{% if site.data.all.medical.emergency %}
  {% include content-sections/emergency.html %}
{% endif %}

{% include content-sections/header-banner.html %}

{% include content-sections/breeds.html %}
{% include content-sections/appearance.html %}
{% include content-sections/identification.html %}

{% include content-sections/care-feeding.html %}
{% include content-sections/training.html %}
{% include content-sections/vaccinations.html %}
{% include content-sections/medical.html %}

{% include content-sections/social.html %}

<!--
</section>
-->
