<section class="typeset hidden-sm-up">
  <div class="kody-banner kody-banner-danger kody-banner-inverse">
    <div class="row">
      <div class="col-xs-8">
        <p class="text-right">Medical emergency?</p>
      </div><!-- /.col-xs-10 -->
      <div class="col-xs-4">
        <a class="kody-banner-button text-center" href="tel:{{ site.data.all.medical.emergency.provider.phone }}">
          Call Now
        </a><!-- /.btn -->
      </div><!-- /.col-xs-2 -->
    </div><!-- /.row -->
  </div><!-- /.banner -->
</section><!-- /.typeset -->

<section class="typeset">
  <div class="kody-banner kody-banner-viewport kody-banner-primary kody-banner-inverse text-center">
    <div class="kody-banner-primary-bg"></div>
    <div class="kody-banner-primary-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h1>Kody</h1>
            <ul class="kody-list-unstyled kody-list-animate-slide-one">
              {% for item in site.data.all.bio.temperament %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.kody-banner -->
    </div><!-- /.container-fluid -->
  </div><!-- /.kody-banner-primary-content -->
</section><!-- /.typeset -->
