.kody-banner
  p, a
    margin: 0
    padding: 0
    line-height: 3rem
  .kody-button
    display: block
    background-color: lighten($brand-danger, 10%)

.kody-banner-inverse
  &, p, a
    color: #FFF

.kody-banner-danger
  background-color: $brand-danger
