.kody-banner
  p, a
    margin: 0
    padding: 0
    line-height: 3rem
  .kody-banner-button
    display: block

.kody-banner-viewport
  height: 100vh

.kody-banner-inverse
  &, p, a
    color: #FFF

.kody-banner-warning
  background-color: $color5

.kody-banner-danger
  background-color: $brand-danger
  .kody-banner-button
    background-color: lighten($brand-danger, 10%)
