.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 34em) {
    .container {
      max-width: 34rem; } }
  @media (min-width: 48em) {
    .container {
      max-width: 45rem; } }
  @media (min-width: 62em) {
    .container {
      max-width: 60rem; } }
  @media (min-width: 75em) {
    .container {
      max-width: 72.25rem; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.col-xs-1 {
  flex: 0 0 8.33333%; }

.col-xs-2 {
  flex: 0 0 16.66667%; }

.col-xs-3 {
  flex: 0 0 25%; }

.col-xs-4 {
  flex: 0 0 33.33333%; }

.col-xs-5 {
  flex: 0 0 41.66667%; }

.col-xs-6 {
  flex: 0 0 50%; }

.col-xs-7 {
  flex: 0 0 58.33333%; }

.col-xs-8 {
  flex: 0 0 66.66667%; }

.col-xs-9 {
  flex: 0 0 75%; }

.col-xs-10 {
  flex: 0 0 83.33333%; }

.col-xs-11 {
  flex: 0 0 91.66667%; }

.col-xs-12 {
  flex: 0 0 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 34em) {
  .col-sm-1 {
    flex: 0 0 8.33333%; }

  .col-sm-2 {
    flex: 0 0 16.66667%; }

  .col-sm-3 {
    flex: 0 0 25%; }

  .col-sm-4 {
    flex: 0 0 33.33333%; }

  .col-sm-5 {
    flex: 0 0 41.66667%; }

  .col-sm-6 {
    flex: 0 0 50%; }

  .col-sm-7 {
    flex: 0 0 58.33333%; }

  .col-sm-8 {
    flex: 0 0 66.66667%; }

  .col-sm-9 {
    flex: 0 0 75%; }

  .col-sm-10 {
    flex: 0 0 83.33333%; }

  .col-sm-11 {
    flex: 0 0 91.66667%; }

  .col-sm-12 {
    flex: 0 0 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 48em) {
  .col-md-1 {
    flex: 0 0 8.33333%; }

  .col-md-2 {
    flex: 0 0 16.66667%; }

  .col-md-3 {
    flex: 0 0 25%; }

  .col-md-4 {
    flex: 0 0 33.33333%; }

  .col-md-5 {
    flex: 0 0 41.66667%; }

  .col-md-6 {
    flex: 0 0 50%; }

  .col-md-7 {
    flex: 0 0 58.33333%; }

  .col-md-8 {
    flex: 0 0 66.66667%; }

  .col-md-9 {
    flex: 0 0 75%; }

  .col-md-10 {
    flex: 0 0 83.33333%; }

  .col-md-11 {
    flex: 0 0 91.66667%; }

  .col-md-12 {
    flex: 0 0 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 62em) {
  .col-lg-1 {
    flex: 0 0 8.33333%; }

  .col-lg-2 {
    flex: 0 0 16.66667%; }

  .col-lg-3 {
    flex: 0 0 25%; }

  .col-lg-4 {
    flex: 0 0 33.33333%; }

  .col-lg-5 {
    flex: 0 0 41.66667%; }

  .col-lg-6 {
    flex: 0 0 50%; }

  .col-lg-7 {
    flex: 0 0 58.33333%; }

  .col-lg-8 {
    flex: 0 0 66.66667%; }

  .col-lg-9 {
    flex: 0 0 75%; }

  .col-lg-10 {
    flex: 0 0 83.33333%; }

  .col-lg-11 {
    flex: 0 0 91.66667%; }

  .col-lg-12 {
    flex: 0 0 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@media (min-width: 75em) {
  .col-xl-1 {
    flex: 0 0 8.33333%; }

  .col-xl-2 {
    flex: 0 0 16.66667%; }

  .col-xl-3 {
    flex: 0 0 25%; }

  .col-xl-4 {
    flex: 0 0 33.33333%; }

  .col-xl-5 {
    flex: 0 0 41.66667%; }

  .col-xl-6 {
    flex: 0 0 50%; }

  .col-xl-7 {
    flex: 0 0 58.33333%; }

  .col-xl-8 {
    flex: 0 0 66.66667%; }

  .col-xl-9 {
    flex: 0 0 75%; }

  .col-xl-10 {
    flex: 0 0 83.33333%; }

  .col-xl-11 {
    flex: 0 0 91.66667%; }

  .col-xl-12 {
    flex: 0 0 100%; }

  .col-xl-pull-0 {
    right: auto; }

  .col-xl-pull-1 {
    right: 8.33333%; }

  .col-xl-pull-2 {
    right: 16.66667%; }

  .col-xl-pull-3 {
    right: 25%; }

  .col-xl-pull-4 {
    right: 33.33333%; }

  .col-xl-pull-5 {
    right: 41.66667%; }

  .col-xl-pull-6 {
    right: 50%; }

  .col-xl-pull-7 {
    right: 58.33333%; }

  .col-xl-pull-8 {
    right: 66.66667%; }

  .col-xl-pull-9 {
    right: 75%; }

  .col-xl-pull-10 {
    right: 83.33333%; }

  .col-xl-pull-11 {
    right: 91.66667%; }

  .col-xl-pull-12 {
    right: 100%; }

  .col-xl-push-0 {
    left: auto; }

  .col-xl-push-1 {
    left: 8.33333%; }

  .col-xl-push-2 {
    left: 16.66667%; }

  .col-xl-push-3 {
    left: 25%; }

  .col-xl-push-4 {
    left: 33.33333%; }

  .col-xl-push-5 {
    left: 41.66667%; }

  .col-xl-push-6 {
    left: 50%; }

  .col-xl-push-7 {
    left: 58.33333%; }

  .col-xl-push-8 {
    left: 66.66667%; }

  .col-xl-push-9 {
    left: 75%; }

  .col-xl-push-10 {
    left: 83.33333%; }

  .col-xl-push-11 {
    left: 91.66667%; }

  .col-xl-push-12 {
    left: 100%; }

  .col-xl-offset-0 {
    margin-left: 0%; }

  .col-xl-offset-1 {
    margin-left: 8.33333%; }

  .col-xl-offset-2 {
    margin-left: 16.66667%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-4 {
    margin-left: 33.33333%; }

  .col-xl-offset-5 {
    margin-left: 41.66667%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-7 {
    margin-left: 58.33333%; }

  .col-xl-offset-8 {
    margin-left: 66.66667%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-10 {
    margin-left: 83.33333%; }

  .col-xl-offset-11 {
    margin-left: 91.66667%; }

  .col-xl-offset-12 {
    margin-left: 100%; } }
.col-xs-first {
  order: -1; }

.col-xs-last {
  order: 1; }

@media (min-width: 34em) {
  .col-sm-first {
    order: -1; }

  .col-sm-last {
    order: 1; } }
@media (min-width: 48em) {
  .col-md-first {
    order: -1; }

  .col-md-last {
    order: 1; } }
@media (min-width: 62em) {
  .col-lg-first {
    order: -1; }

  .col-lg-last {
    order: 1; } }
@media (min-width: 75em) {
  .col-xl-first {
    order: -1; }

  .col-xl-last {
    order: 1; } }
.row-xs-top {
  align-items: flex-start; }

.row-xs-center {
  align-items: center; }

.row-xs-bottom {
  align-items: flex-end; }

@media (min-width: 34em) {
  .row-sm-top {
    align-items: flex-start; }

  .row-sm-center {
    align-items: center; }

  .row-sm-bottom {
    align-items: flex-end; } }
@media (min-width: 48em) {
  .row-md-top {
    align-items: flex-start; }

  .row-md-center {
    align-items: center; }

  .row-md-bottom {
    align-items: flex-end; } }
@media (min-width: 62em) {
  .row-lg-top {
    align-items: flex-start; }

  .row-lg-center {
    align-items: center; }

  .row-lg-bottom {
    align-items: flex-end; } }
@media (min-width: 75em) {
  .row-xl-top {
    align-items: flex-start; }

  .row-xl-center {
    align-items: center; }

  .row-xl-bottom {
    align-items: flex-end; } }
.col-xs-top {
  align-self: flex-start; }

.col-xs-center {
  align-self: center; }

.col-xs-bottom {
  align-self: flex-end; }

@media (min-width: 34em) {
  .col-sm-top {
    align-self: flex-start; }

  .col-sm-center {
    align-self: center; }

  .col-sm-bottom {
    align-self: flex-end; } }
@media (min-width: 48em) {
  .col-md-top {
    align-self: flex-start; }

  .col-md-center {
    align-self: center; }

  .col-md-bottom {
    align-self: flex-end; } }
@media (min-width: 62em) {
  .col-lg-top {
    align-self: flex-start; }

  .col-lg-center {
    align-self: center; }

  .col-lg-bottom {
    align-self: flex-end; } }
@media (min-width: 75em) {
  .col-xl-top {
    align-self: flex-start; }

  .col-xl-center {
    align-self: center; }

  .col-xl-bottom {
    align-self: flex-end; } }
.label {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem; }
  .label:empty {
    display: none; }
  .btn .label {
    position: relative;
    top: -1px; }

a.label:focus, a.label:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.label-pill {
  padding-left: .6em;
  padding-right: .6em;
  border-radius: 1rem; }

.label-default {
  background-color: #818a91; }
  .label-default[href]:focus, .label-default[href]:hover {
    background-color: #687077; }

.label-primary {
  background-color: #105B63; }
  .label-primary[href]:focus, .label-primary[href]:hover {
    background-color: #093337; }

.label-success {
  background-color: #5cb85c; }
  .label-success[href]:focus, .label-success[href]:hover {
    background-color: #449d44; }

.label-info {
  background-color: #105B63; }
  .label-info[href]:focus, .label-info[href]:hover {
    background-color: #093337; }

.label-warning {
  background-color: #DB9E36; }
  .label-warning[href]:focus, .label-warning[href]:hover {
    background-color: #bc8322; }

.label-danger {
  background-color: #BD4932; }
  .label-danger[href]:focus, .label-danger[href]:hover {
    background-color: #953927; }

.list-group {
  padding-left: 0;
  margin-bottom: 0; }

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -.0625rem;
  background-color: #fff;
  border: 0.0625rem solid #ddd; }
  .list-group-item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem; }
  .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }

.list-group-flush .list-group-item {
  border-width: .0625rem 0;
  border-radius: 0; }

a.list-group-item,
button.list-group-item {
  width: 100%;
  text-align: inherit;
  color: #555; }
  a.list-group-item .list-group-item-heading,
  button.list-group-item .list-group-item-heading {
    color: #333; }
  a.list-group-item:focus, a.list-group-item:hover,
  button.list-group-item:focus,
  button.list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5; }

.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
  color: #818a91;
  cursor: not-allowed;
  background-color: #eceeef; }
  .list-group-item.disabled .list-group-item-heading, .list-group-item.disabled:focus .list-group-item-heading, .list-group-item.disabled:hover .list-group-item-heading {
    color: inherit; }
  .list-group-item.disabled .list-group-item-text, .list-group-item.disabled:focus .list-group-item-text, .list-group-item.disabled:hover .list-group-item-text {
    color: #818a91; }
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #105B63;
  border-color: #105B63; }
  .list-group-item.active .list-group-item-heading,
  .list-group-item.active .list-group-item-heading > small,
  .list-group-item.active .list-group-item-heading > .small, .list-group-item.active:focus .list-group-item-heading,
  .list-group-item.active:focus .list-group-item-heading > small,
  .list-group-item.active:focus .list-group-item-heading > .small, .list-group-item.active:hover .list-group-item-heading,
  .list-group-item.active:hover .list-group-item-heading > small,
  .list-group-item.active:hover .list-group-item-heading > .small {
    color: inherit; }
  .list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text, .list-group-item.active:hover .list-group-item-text {
    color: #5bd7e4; }

.list-group-item-state {
  color: #3c763d;
  background-color: #dff0d8; }

a.list-group-item-state,
button.list-group-item-state {
  color: #3c763d; }
  a.list-group-item-state .list-group-item-heading,
  button.list-group-item-state .list-group-item-heading {
    color: inherit; }
  a.list-group-item-state:focus, a.list-group-item-state:hover,
  button.list-group-item-state:focus,
  button.list-group-item-state:hover {
    color: #3c763d;
    background-color: #d0e9c6; }
  a.list-group-item-state.active, a.list-group-item-state.active:focus, a.list-group-item-state.active:hover,
  button.list-group-item-state.active,
  button.list-group-item-state.active:focus,
  button.list-group-item-state.active:hover {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d; }

.list-group-item-state {
  color: #31708f;
  background-color: #d9edf7; }

a.list-group-item-state,
button.list-group-item-state {
  color: #31708f; }
  a.list-group-item-state .list-group-item-heading,
  button.list-group-item-state .list-group-item-heading {
    color: inherit; }
  a.list-group-item-state:focus, a.list-group-item-state:hover,
  button.list-group-item-state:focus,
  button.list-group-item-state:hover {
    color: #31708f;
    background-color: #c4e3f3; }
  a.list-group-item-state.active, a.list-group-item-state.active:focus, a.list-group-item-state.active:hover,
  button.list-group-item-state.active,
  button.list-group-item-state.active:focus,
  button.list-group-item-state.active:hover {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f; }

.list-group-item-state {
  color: #8a6d3b;
  background-color: #fcf8e3; }

a.list-group-item-state,
button.list-group-item-state {
  color: #8a6d3b; }
  a.list-group-item-state .list-group-item-heading,
  button.list-group-item-state .list-group-item-heading {
    color: inherit; }
  a.list-group-item-state:focus, a.list-group-item-state:hover,
  button.list-group-item-state:focus,
  button.list-group-item-state:hover {
    color: #8a6d3b;
    background-color: #faf2cc; }
  a.list-group-item-state.active, a.list-group-item-state.active:focus, a.list-group-item-state.active:hover,
  button.list-group-item-state.active,
  button.list-group-item-state.active:focus,
  button.list-group-item-state.active:hover {
    color: #fff;
    background-color: #8a6d3b;
    border-color: #8a6d3b; }

.list-group-item-state {
  color: #a94442;
  background-color: #f2dede; }

a.list-group-item-state,
button.list-group-item-state {
  color: #a94442; }
  a.list-group-item-state .list-group-item-heading,
  button.list-group-item-state .list-group-item-heading {
    color: inherit; }
  a.list-group-item-state:focus, a.list-group-item-state:hover,
  button.list-group-item-state:focus,
  button.list-group-item-state:hover {
    color: #a94442;
    background-color: #ebcccc; }
  a.list-group-item-state.active, a.list-group-item-state.active:focus, a.list-group-item-state.active:hover,
  button.list-group-item-state.active,
  button.list-group-item-state.active:focus,
  button.list-group-item-state.active:hover {
    color: #fff;
    background-color: #a94442;
    border-color: #a94442; }

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px; }

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[hidden] {
  display: none !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: "0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-xs-left {
  text-align: left; }

.text-xs-right {
  text-align: right; }

.text-xs-center {
  text-align: center; }

@media (min-width: 34em) {
  .text-sm-left {
    text-align: left; }

  .text-sm-right {
    text-align: right; }

  .text-sm-center {
    text-align: center; } }
@media (min-width: 48em) {
  .text-md-left {
    text-align: left; }

  .text-md-right {
    text-align: right; }

  .text-md-center {
    text-align: center; } }
@media (min-width: 62em) {
  .text-lg-left {
    text-align: left; }

  .text-lg-right {
    text-align: right; }

  .text-lg-center {
    text-align: center; } }
@media (min-width: 75em) {
  .text-xl-left {
    text-align: left; }

  .text-xl-right {
    text-align: right; }

  .text-xl-center {
    text-align: center; } }
.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-muted {
  color: #818a91; }

.text-primary {
  color: #105B63; }

a.text-primary:focus, a.text-primary:hover {
  color: #093337; }

.text-success {
  color: #5cb85c; }

a.text-success:focus, a.text-success:hover {
  color: #449d44; }

.text-info {
  color: #105B63; }

a.text-info:focus, a.text-info:hover {
  color: #093337; }

.text-warning {
  color: #DB9E36; }

a.text-warning:focus, a.text-warning:hover {
  color: #bc8322; }

.text-danger {
  color: #BD4932; }

a.text-danger:focus, a.text-danger:hover {
  color: #953927; }

.bg-inverse {
  color: #eceeef;
  background-color: #373a3c; }

.bg-faded {
  background-color: #f7f7f9; }

.bg-primary {
  color: #fff;
  background-color: #105B63; }

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #093337; }

.bg-success {
  color: #fff;
  background-color: #5cb85c; }

a.bg-success:focus, a.bg-success:hover {
  background-color: #449d44; }

.bg-info {
  color: #fff;
  background-color: #105B63; }

a.bg-info:focus, a.bg-info:hover {
  background-color: #093337; }

.bg-warning {
  color: #fff;
  background-color: #DB9E36; }

a.bg-warning:focus, a.bg-warning:hover {
  background-color: #bc8322; }

.bg-danger {
  color: #fff;
  background-color: #BD4932; }

a.bg-danger:focus, a.bg-danger:hover {
  background-color: #953927; }

.m-a-0 {
  margin: 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-a {
  margin: 1rem !important; }

.m-t {
  margin-top: 1rem !important; }

.m-r {
  margin-right: 1rem !important; }

.m-b {
  margin-bottom: 1rem !important; }

.m-l {
  margin-left: 1rem !important; }

.m-x {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.m-y {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.m-a-md {
  margin: 1.5rem !important; }

.m-t-md {
  margin-top: 1.5rem !important; }

.m-r-md {
  margin-right: 1.5rem !important; }

.m-b-md {
  margin-bottom: 1.5rem !important; }

.m-l-md {
  margin-left: 1.5rem !important; }

.m-x-md {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important; }

.m-y-md {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.m-a-lg {
  margin: 3rem !important; }

.m-t-lg {
  margin-top: 3rem !important; }

.m-r-lg {
  margin-right: 3rem !important; }

.m-b-lg {
  margin-bottom: 3rem !important; }

.m-l-lg {
  margin-left: 3rem !important; }

.m-x-lg {
  margin-right: 3rem !important;
  margin-left: 3rem !important; }

.m-y-lg {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.p-a-0 {
  padding: 0 !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-a {
  padding: 1rem !important; }

.p-t {
  padding-top: 1rem !important; }

.p-r {
  padding-right: 1rem !important; }

.p-b {
  padding-bottom: 1rem !important; }

.p-l {
  padding-left: 1rem !important; }

.p-x {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.p-y {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.p-a-md {
  padding: 1.5rem !important; }

.p-t-md {
  padding-top: 1.5rem !important; }

.p-r-md {
  padding-right: 1.5rem !important; }

.p-b-md {
  padding-bottom: 1.5rem !important; }

.p-l-md {
  padding-left: 1.5rem !important; }

.p-x-md {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.p-y-md {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.p-a-lg {
  padding: 3rem !important; }

.p-t-lg {
  padding-top: 3rem !important; }

.p-r-lg {
  padding-right: 3rem !important; }

.p-b-lg {
  padding-bottom: 3rem !important; }

.p-l-lg {
  padding-left: 3rem !important; }

.p-x-lg {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }

.p-y-lg {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.hidden-xs-up {
  display: none !important; }

@media (max-width: 33.9em) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 34em) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 47.9em) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 48em) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 61.9em) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 62em) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 74.9em) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 75em) {
  .hidden-xl-up {
    display: none !important; } }

.hidden-xl-down {
  display: none !important; }

.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print .hidden-print {
    display: none !important; } }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

a img {
  border: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 75%; }
  @media screen and (min-width: 40em) {
    html {
      font-size: 87.5%; } }
  @media screen and (min-width: 50em) {
    html {
      font-size: 93.75%; } }
  @media screen and (min-width: 64em) {
    html {
      font-size: 106.25%; } }
  @media screen and (min-width: 100em) {
    html {
      font-size: 118.75%; } }

body {
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  font-size: 1.33333rem; }
  @media screen and (min-width: 40em) {
    body {
      font-size: 1.21429rem; } }
  @media screen and (min-width: 50em) {
    body {
      font-size: 1.2rem; } }
  @media screen and (min-width: 64em) {
    body {
      font-size: 1.17647rem; } }
  @media screen and (min-width: 100em) {
    body {
      font-size: 1.15789rem; } }

a {
  -webkit-transition: color .1s, background-color .1s;
  -moz-transition: color .1s, background-color .1s;
  -ms-transition: color .1s, background-color .1s;
  -o-transition: color .1s, background-color .1s;
  transition: color .1s, background-color .1s;
  color: #0E58F5;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #0B348B;
    text-decoration: none; }

.typeset p {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem; }
  @media screen and (min-width: 40em) {
    .typeset p {
      margin-bottom: 1.4007rem;
      padding-top: 0.5993rem; } }
  @media screen and (min-width: 50em) {
    .typeset p {
      margin-bottom: 1.39599rem;
      padding-top: 0.60401rem; } }
  @media screen and (min-width: 64em) {
    .typeset p {
      margin-bottom: 1.38823rem;
      padding-top: 0.61177rem; } }
  @media screen and (min-width: 100em) {
    .typeset p {
      margin-bottom: 1.3821rem;
      padding-top: 0.6179rem; } }
.typeset h1, .typeset h2, .typeset h3, .typeset h4, .typeset h5, .typeset h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: #2E2E2E;
  font-family: Roboto Slab, Helvetica Neue, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700; }
.typeset h1, .typeset .alpha {
  line-height: 3rem;
  font-size: 2.33333rem;
  margin-bottom: 0.25832rem;
  padding-top: 0.74168rem; }
  @media screen and (min-width: 40em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.14286rem;
      margin-bottom: 0.19642rem;
      padding-top: 0.80358rem; } }
  @media screen and (min-width: 50em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.13333rem;
      margin-bottom: 0.19332rem;
      padding-top: 0.80668rem; } }
  @media screen and (min-width: 64em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.35294rem;
      margin-bottom: 0.2647rem;
      padding-top: 0.7353rem; } }
  @media screen and (min-width: 100em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.63158rem;
      margin-bottom: 0.35525rem;
      padding-top: 0.64475rem; } }
.typeset h2, .typeset .beta {
  line-height: 3rem;
  font-size: 2.08333rem;
  margin-bottom: 0.17707rem;
  padding-top: 0.82293rem; }
  @media screen and (min-width: 40em) {
    .typeset h2, .typeset .beta {
      font-size: 1.9rem;
      margin-bottom: 0.11749rem;
      padding-top: 0.88251rem; } }
  @media screen and (min-width: 50em) {
    .typeset h2, .typeset .beta {
      font-size: 1.87333rem;
      margin-bottom: 0.10882rem;
      padding-top: 0.89118rem; } }
  @media screen and (min-width: 64em) {
    .typeset h2, .typeset .beta {
      font-size: 2.08824rem;
      margin-bottom: 0.17867rem;
      padding-top: 0.82133rem; } }
  @media screen and (min-width: 100em) {
    .typeset h2, .typeset .beta {
      font-size: 2.31053rem;
      margin-bottom: 0.25091rem;
      padding-top: 0.74909rem; } }
.typeset h3, .typeset .gamma {
  line-height: 3rem;
  font-size: 1.86667rem;
  margin-bottom: 0.10666rem;
  padding-top: 0.89334rem; }
  @media screen and (min-width: 40em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.71429rem;
      margin-bottom: 0.05713rem;
      padding-top: 0.94287rem; } }
  @media screen and (min-width: 50em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.70667rem;
      margin-bottom: 0.05466rem;
      padding-top: 0.94534rem; } }
  @media screen and (min-width: 64em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.76471rem;
      margin-bottom: 0.07352rem;
      padding-top: 0.92648rem; } }
  @media screen and (min-width: 100em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.85789rem;
      margin-bottom: 0.10381rem;
      padding-top: 0.89619rem; } }
.typeset h4, .typeset .delta {
  line-height: 2rem;
  font-size: 1.66667rem;
  margin-bottom: -0.45834rem;
  padding-top: 0.45834rem; }
  @media screen and (min-width: 40em) {
    .typeset h4, .typeset .delta {
      font-size: 1.52143rem;
      margin-bottom: -0.50555rem;
      padding-top: 0.50555rem; } }
  @media screen and (min-width: 50em) {
    .typeset h4, .typeset .delta {
      font-size: 1.5rem;
      margin-bottom: -0.51251rem;
      padding-top: 0.51251rem; } }
  @media screen and (min-width: 64em) {
    .typeset h4, .typeset .delta {
      font-size: 1.57059rem;
      margin-bottom: -0.48957rem;
      padding-top: 0.48957rem; } }
  @media screen and (min-width: 100em) {
    .typeset h4, .typeset .delta {
      font-size: 1.63684rem;
      margin-bottom: -0.46804rem;
      padding-top: 0.46804rem; } }
.typeset h5, .typeset .epsilon {
  line-height: 2rem;
  font-size: 1.49167rem;
  margin-bottom: -0.51522rem;
  padding-top: 0.51522rem; }
  @media screen and (min-width: 40em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.37143rem;
      margin-bottom: -0.5543rem;
      padding-top: 0.5543rem; } }
  @media screen and (min-width: 50em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.36667rem;
      margin-bottom: -0.55584rem;
      padding-top: 0.55584rem; } }
  @media screen and (min-width: 64em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.32353rem;
      margin-bottom: -0.56986rem;
      padding-top: 0.56986rem; } }
  @media screen and (min-width: 100em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.31579rem;
      margin-bottom: -0.57238rem;
      padding-top: 0.57238rem; } }
.typeset h6, .typeset .zeta {
  line-height: 2rem;
  font-size: 1.33333rem;
  margin-bottom: -0.56668rem;
  padding-top: 0.56668rem; }
  @media screen and (min-width: 40em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.21429rem;
      margin-bottom: -0.60537rem;
      padding-top: 0.60537rem; } }
  @media screen and (min-width: 50em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.2rem;
      margin-bottom: -0.61001rem;
      padding-top: 0.61001rem; } }
  @media screen and (min-width: 64em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.17647rem;
      margin-bottom: -0.61766rem;
      padding-top: 0.61766rem; } }
  @media screen and (min-width: 100em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.15789rem;
      margin-bottom: -0.62369rem;
      padding-top: 0.62369rem; } }
.typeset ul, .typeset ol {
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem; }
  @media screen and (min-width: 40em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.4007rem;
      padding-top: 0.5993rem; } }
  @media screen and (min-width: 50em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.39599rem;
      padding-top: 0.60401rem; } }
  @media screen and (min-width: 64em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.38823rem;
      padding-top: 0.61177rem; } }
  @media screen and (min-width: 100em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.3821rem;
      padding-top: 0.6179rem; } }
  .typeset ul li, .typeset ol li {
    -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    margin-left: 2rem; }
    @media screen and (min-width: 40em) {
      .typeset ul li, .typeset ol li {
        margin-left: 0; } }
.typeset b, .typeset strong, .typeset .bold {
  font-weight: 700; }
.typeset em, .typeset i, .typeset .italic {
  font-style: italic; }
.typeset small, .typeset .caption {
  font-family: Roboto Slab, Helvetica Neue, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.06667rem; }
  @media screen and (min-width: 40em) {
    .typeset small, .typeset .caption {
      font-size: 0.97143rem; } }
  @media screen and (min-width: 50em) {
    .typeset small, .typeset .caption {
      font-size: 0.96rem; } }
  @media screen and (min-width: 64em) {
    .typeset small, .typeset .caption {
      font-size: 0.88235rem; } }
  @media screen and (min-width: 100em) {
    .typeset small, .typeset .caption {
      font-size: 0.82105rem; } }
.typeset small {
  line-height: 1rem; }
.typeset .caption {
  color: #BDC8CC;
  line-height: 2rem;
  margin-bottom: 1.34666rem;
  padding-top: 0.65334rem; }
  @media screen and (min-width: 40em) {
    .typeset .caption {
      margin-bottom: 1.3157rem;
      padding-top: 0.6843rem; } }
  @media screen and (min-width: 50em) {
    .typeset .caption {
      margin-bottom: 1.31199rem;
      padding-top: 0.68801rem; } }
  @media screen and (min-width: 64em) {
    .typeset .caption {
      margin-bottom: 1.28675rem;
      padding-top: 0.71325rem; } }
  @media screen and (min-width: 100em) {
    .typeset .caption {
      margin-bottom: 1.26683rem;
      padding-top: 0.73317rem; } }
.typeset h1 + .caption, .typeset .alpha + .caption, .typeset h2 + .caption, .typeset .beta + .caption, .typeset h3 + .caption, .typeset .gamma + .caption {
  margin-top: -1rem; }
.typeset .delta + .caption, .typeset .epsilon + .caption, .typeset .zeta + .caption {
  margin-top: 0rem; }
.typeset hr {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#BDC8CC));
  background-image: -webkit-linear-gradient(top, transparent 50%, #BDC8CC 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #BDC8CC 50%);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  border: 0;
  margin: 0;
  padding-bottom: 3rem;
  padding-top: 3rem; }
.typeset code, .typeset pre {
  background-color: #F5F4F2;
  font-family: Menlo, monospace; }
.typeset pre {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }
.typeset code {
  line-height: 1rem;
  font-size: 1.06667rem; }
  @media screen and (min-width: 40em) {
    .typeset code {
      font-size: 0.97143rem; } }
  @media screen and (min-width: 50em) {
    .typeset code {
      font-size: 0.96rem; } }
  @media screen and (min-width: 64em) {
    .typeset code {
      font-size: 0.88235rem; } }
  @media screen and (min-width: 100em) {
    .typeset code {
      font-size: 0.82105rem; } }
.typeset .upper {
  letter-spacing: 0.1rem;
  text-transform: uppercase; }
.typeset .small-caps {
  -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
  -moz-font-feature-settings: 'smcp' 1, 'kern' 1;
  -ms-font-feature-settings: 'smcp' 1, 'kern' 1;
  -o-font-feature-settings: 'smcp' 1, 'kern' 1;
  font-feature-settings: 'smcp' 1, 'kern' 1;
  letter-spacing: 0.1rem; }
.typeset .lining-numerals {
  -webkit-font-feature-settings: 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'lnum' 1, 'kern' 1;
  -ms-font-feature-settings: 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'lnum' 1, 'kern' 1;
  font-feature-settings: 'lnum' 1, 'kern' 1; }
.typeset .oldstyle-numerals {
  -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'onum' 1, 'kern' 1;
  -ms-font-feature-settings: 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'onum' 1, 'kern' 1;
  font-feature-settings: 'onum' 1, 'kern' 1; }

.section {
  margin: 0 auto;
  position: relative;
  width: 94%; }
  .section:before, .section:after {
    display: table;
    content: ""; }
  .section:after {
    clear: both; }
  @media screen and (min-width: 64em) {
    .section {
      max-width: 64.70588rem; } }
  @media screen and (min-width: 100em) {
    .section {
      max-width: 68.42105rem; } }

.single {
  margin: 0 auto;
  max-width: 41.66667rem; }
  @media screen and (min-width: 40em) {
    .single {
      max-width: 39.28571rem; } }
  @media screen and (min-width: 50em) {
    .single {
      max-width: 40rem; } }
  @media screen and (min-width: 64em) {
    .single {
      max-width: 40rem; } }
  @media screen and (min-width: 100em) {
    .single {
      max-width: 39.47368rem; } }

.column {
  margin: 0 auto;
  width: 100%;
  max-width: 41.66667rem; }
  @media screen and (min-width: 40em) {
    .column {
      float: left;
      margin: inherit;
      max-width: auto;
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media screen and (min-width: 64em) {
    .column {
      padding-left: 2rem;
      padding-right: 2rem; } }

@media screen and (min-width: 40em) {
  .column--duo {
    width: 50%; } }

@media screen and (min-width: 40em) {
  .column--trio {
    width: 33.333%; } }

@media screen and (min-width: 40em) {
  .column--quad {
    width: 50%; } }
@media screen and (min-width: 50em) {
  .column--quad {
    width: 25%; } }

@media screen and (min-width: 40em) {
  .column--main {
    max-width: 65%; } }
@media screen and (min-width: 50em) {
  .column--main {
    max-width: 65%; } }
@media screen and (min-width: 64em) {
  .column--main {
    max-width: 65%; } }
@media screen and (min-width: 100em) {
  .column--main {
    max-width: 63.53846%; } }

@media screen and (min-width: 40em) {
  .column--sidebar {
    padding-right: 2rem;
    max-width: 35%; } }
@media screen and (min-width: 50em) {
  .column--sidebar {
    max-width: 35%; } }
@media screen and (min-width: 64em) {
  .column--sidebar {
    padding-right: 4rem;
    max-width: 35%; } }
@media screen and (min-width: 100em) {
  .column--sidebar {
    max-width: 36.46154%; } }

@media screen and (min-width: 40em) {
  .column--main + .column--sidebar {
    padding-left: 2rem;
    padding-right: 1rem; } }
@media screen and (min-width: 64em) {
  .column--main + .column--sidebar {
    padding-left: 4rem;
    padding-right: 2rem; } }

@media screen and (min-width: 64em) {
  .column--trio p, .column--trio li,
  .column--quad p,
  .column--quad li,
  .column--sidebar p,
  .column--sidebar li {
    line-height: 2rem;
    font-size: 0.99412rem;
    margin-bottom: 1.32805rem;
    padding-top: 0.67195rem; } }
@media screen and (min-width: 100em) {
  .column--trio p, .column--trio li,
  .column--quad p,
  .column--quad li,
  .column--sidebar p,
  .column--sidebar li {
    line-height: 2rem;
    font-size: 0.92632rem;
    margin-bottom: 1.30567rem;
    padding-top: 0.69433rem; } }

@media screen and (min-width: 40em) {
  .column--right {
    max-width: 65%;
    margin-left: 35%; } }
@media screen and (min-width: 50em) {
  .column--right {
    max-width: 65%;
    margin-left: 35%; } }
@media screen and (min-width: 64em) {
  .column--right {
    max-width: 65%;
    margin-left: 35%; } }
@media screen and (min-width: 100em) {
  .column--right {
    max-width: 63.53846%;
    margin-left: 36.46154%; } }
@media screen and (min-width: 40em) {
  .column--right .sidenote {
    left: 0;
    padding-left: 1rem;
    padding-right: 2rem;
    position: absolute;
    max-width: 35%; } }
@media screen and (min-width: 50em) {
  .column--right .sidenote {
    max-width: 35%; } }
@media screen and (min-width: 64em) {
  .column--right .sidenote {
    padding-right: 4rem;
    max-width: 35%; } }
@media screen and (min-width: 100em) {
  .column--right .sidenote {
    padding-left: 2rem;
    max-width: 36.46154%; } }

@media screen and (min-width: 40em) {
  .column--left {
    max-width: 65%; } }
@media screen and (min-width: 50em) {
  .column--left {
    max-width: 65%; } }
@media screen and (min-width: 64em) {
  .column--left {
    max-width: 65%; } }
@media screen and (min-width: 100em) {
  .column--left {
    max-width: 63.53846%; } }
@media screen and (min-width: 40em) {
  .column--left .sidenote {
    padding-left: 2rem;
    padding-right: 1rem;
    position: absolute;
    max-width: 35%;
    left: 65%; } }
@media screen and (min-width: 50em) {
  .column--left .sidenote {
    max-width: 35%;
    left: 65%; } }
@media screen and (min-width: 64em) {
  .column--left .sidenote {
    padding-left: 4rem;
    max-width: 35%;
    left: 65%; } }
@media screen and (min-width: 100em) {
  .column--left .sidenote {
    padding-right: 2rem;
    max-width: 36.46154%;
    left: 63.53846%; } }

@font-face {
  font-family: "kody";
  src: url("../fonts/kody.eot");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "kody";
  src: url("../fonts/kody.eot");
  src: url("../fonts/kody.eot?#iefix") format("embedded-opentype"), url("../fonts/kody.woff") format("woff"), url("../fonts/kody.ttf") format("truetype"), url("../fonts/kody.svg?#kody") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="kody-"]:before,
[class*=" kody-"]:before {
  font-family: "kody";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.kody-dog-face-o:before {
  content: "\f101"; }

.kody-dog-o:before {
  content: "\f102"; }

.kody-food-bowl-o:before {
  content: "\f103"; }

.kody-medkit-o:before {
  content: "\f104"; }

.kody-paw-print-o:before {
  content: "\f105"; }

.kody-pill-bottle-o:before {
  content: "\f106"; }

.kody-syringe-o:before {
  content: "\f107"; }

.kody-icon-xl {
  display: inline-block;
  font-size: 8rem; }

.kody-icon-circle {
  width: 13rem;
  height: 13rem;
  padding: 2.5rem 2rem 0 2rem;
  border-radius: 50%;
  color: #FFF;
  background-color: #333; }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

#baseline.show-grid {
  background-image: -webkit-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: -moz-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: -o-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(to bottom, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-muted, .kody-banner .text-muted {
  color: rgba(255, 255, 255, 0.45); }

.typeset a {
  border-bottom: 1px solid; }

.kody-list-unstyled {
  padding-left: 0;
  list-style: none; }
  .typeset .kody-list-unstyled li {
    margin-left: 0; }

.kody-banner p, .kody-banner a {
  margin: 0;
  padding: 0;
  line-height: 3rem; }
.kody-banner .kody-banner-button {
  display: block; }

.kody-banner-viewport {
  height: 100vh; }

.kody-banner-inverse {
  background-color: #333; }
  .kody-banner-inverse, .kody-banner-inverse p, .kody-banner-inverse a {
    color: #FFF; }

.kody-banner-primary {
  position: relative;
  padding-left: 3rem;
  padding-top: 7rem;
  background-color: #333; }
  .kody-banner-primary h1 {
    font-size: 9rem;
    line-height: 9rem;
    color: #FFF;
    text-shadow: 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.85); }
  .kody-banner-primary, .kody-banner-primary p, .kody-banner-primary a {
    font-size: 2rem;
    font-weight: bold;
    color: #FFD34E;
    text-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.85); }

.kody-banner-primary-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: url("/images/kody-locks.jpg") no-repeat 50% 50%;
  background-size: cover; }

.kody-banner-primary-content {
  z-index: 10; }

.kody-banner-info {
  background-color: #105B63; }

.kody-banner-warning {
  background-color: #DB9E36; }

.kody-banner-danger {
  background-color: #BD4932; }
  .kody-banner-danger .kody-banner-button {
    border: 0;
    background-color: #d16651; }

.btn {
  padding: 0.5rem 2rem;
  border: 0;
  color: #333;
  text-decoration: none; }
  .btn:hover, .btn:focus, .btn:active {
    text-decoration: none; }
  .btn.btn-default {
    border: 1px solid #333; }

#instafeed a, #instafeed img {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border: 0;
  vertical-align: middle; }
#instafeed a {
  margin: 0 1rem 1rem 0; }
