<section class="typeset hidden-sm-up">
  <div class="kody-banner kody-banner-danger kody-banner-inverse">
    <div class="row">
      <div class="col-xs-8">
        <p class="text-right">Medical emergency?</p>
      </div><!-- /.col-xs-10 -->
      <div class="col-xs-4">
        <a class="kody-button text-center" href="tel:{{ site.data.all.medical.emergency.provider.phone }}">
          Call Now
        </a><!-- /.btn -->
      </div><!-- /.col-xs-2 -->
    </div><!-- /.row -->
  </div><!-- /.banner -->
</section><!-- /.typeset -->
