<section class="typeset">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-push-7 text-center">
        <div class="kody-icon kody-icon-xl kody-icon-circle kody-medkit-o text-center"></div>
      </div><!-- /.col -->
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-sm-pull-3">
        <h2 class="text-center">{{ site.data.all.content_modules.medical.title }}</h2>
        <p>{{ site.data.all.content_modules.medical.description }}</p>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section><!-- /.typeset -->
