<section class="typeset">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1">
        <div class="kody-icon kody-icon-xl kody-dog-face-o text-center"></div>
      </div><!-- /.col -->
      <div class="col-sm-6 col-sm-offset-1">
        <h2>{{ site.data.all.content_modules.training.title }}</h2>
        <p>{{ site.data.all.content_modules.training.description }}</p>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section><!-- /.typeset -->
