<section class="typeset">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1">
        <div class="kody-icon kody-icon-xl kody-icon-circle kody-syringe-o text-center"></div>
      </div><!-- /.col -->
      <div class="col-sm-6 col-sm-offset-1">
        <h2>{{ site.data.all.content_modules.vaccinations.title }}</h2>
        <p>{{ site.data.all.content_modules.vaccinations.description }}</p>
        <a href="{{ site.data.all.content_modules.vaccinations.link.url }}" target="_blank">
          {{ site.data.all.content_modules.vaccinations.link.label }}
        </a>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section><!-- /.typeset -->
