<section class="typeset">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-5 text-center">
        <div class="kody-icon kody-icon-xl kody-icon-circle kody-syringe-o text-center"></div>
      </div><!-- /.col -->
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-sm-pull-1">
        <h2 class="text-center">{{ site.data.all.content_modules.vaccinations.title }}</h2>
        <p>{{ site.data.all.content_modules.vaccinations.description }}</p>
        <h4>Vaccinations &amp; Due Dates</h4>
        <ul class="list-group">
          {% for vaccine in site.data.all.content_modules.vaccinations.vaccines %}
            <li class="list-group-item">
              <span class="label label-success label-pill pull-right">{{ vaccine.due_on | date: "%B %-d, %Y" }}</span>
              {{ vaccine.name }} {% if vaccine.frequency %}({{ vaccine.frequency }}){% endif %}
            </li><!-- /.list-group-item -->
          {% endfor %}
        </ul><!-- /.list-group -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section><!-- /.typeset -->
